<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Camozzi.Model.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4533/CServer.CService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICService" contract="DataService.ICService"
                name="BasicHttpBinding_ICService" />
            <endpoint address="net.tcp://localhost:4534/CServer.CService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICService"
                contract="DataService.ICService" name="NetTcpBinding_ICService">
                <identity>
                    <userPrincipalName value="CSRV\СолодухинПВ" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <Camozzi.Model.UserSettings>
            <setting name="Lastuser" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllProjectsStart" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllProjectsDuration" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SelfProjectsStart" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelfProjectsDuration" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="SynchronizeTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="HideEndProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddManagerName" serializeAs="String">
                <value>False</value>
            </setting>
        </Camozzi.Model.UserSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
